@import "./../styles/variables.scss";
@import "./../styles/mixins.scss";

html {
    font-family: $font-family;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include text-center;
    color: $secondary-color;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

.bg-dark {
    background-color: $primary-color;
}

.sr-only {
    @include screen-reader-only;
}