// Variables globales

// Couleurs
$primary-color: #12002b; // Nuance Violet
$secondary-color: #2c3e50; // dark-bleu
$bord-butt-color: #00bc77; // Vert (Pour les bordures et les boutons)
$text-dark-color: #222; // Sombre pour les titres
$text-white-color: #fff; // Blanc pour les textes   

// Typographie
$font-family: 'Avenir', Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$line-height-base: 1.5;
$font-weight-bold: bold; 
$font-size-large: 1.25rem;


