@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.login-form {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 2rem;

    .sign-in-icon {
        font-size: 5rem;
        margin-bottom: 1rem;
    }

    h1 {
        margin-bottom: 2rem;
    }

    .input-wrapper {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 1rem;

        label {
            font-weight: $font-weight-bold;
        }

        input {
            padding: 5px;
            font-size: $font-size-large;
        }
    }

    .input-remember {
        display: flex;

        label {
            margin-left: 0.25rem;
        }
    }

    .sign-in-button {
        display: block;
        width: 100%;
        padding: 8px;
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
        margin-top: 1rem;
        border-color: $bord-butt-color;
        background-color: $bord-butt-color;
        color: $text-white-color;
    }

    .general-error {
        color: red;
        font-size: 0.9rem;
        margin-top: $font-size-base;
        @include text-center;
    }
}